[submodule "twfy-scraper"]
	path = twfy-scraper
	url = https://github.com/Abaqueues/twfy-scraper.git
[submodule "twfy-converter"]
	path = twfy-converter
	url = https://github.com/Abaqueues/twfy-converter.git
[submodule "parliasent-model"]
	path = parliasent-model
	url = https://github.com/Abaqueues/parliasent-model.git
[submodule "parliasent-webapp"]
	path = parliasent-webapp
	url = https://github.com/Abaqueues/parliasent-webapp.git
