[submodule "TWFYScraper"]
	path = TWFYScraper
	url = https://git.cs.bham.ac.uk/jjc257/TWFYScraper.git
[submodule "TWFYPreprocessor"]
	path = TWFYPreprocessor
	url = https://git.cs.bham.ac.uk/jjc257/twfypreprocessor.git
[submodule "SAModel"]
	path = SAModel
	url = https://git.cs.bham.ac.uk/jjc257/samodel.git
[submodule "SAWebApp"]
	path = SAWebApp
	url = https://git.cs.bham.ac.uk/jjc257/webapp.git
